html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

.label {
  padding: 20px;
  font-weight: bold;
  font-size: 14px;
  opacity: 0.5;
  transition: opacity 0.25s;
  text-align: center;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s;
}
  .needle__north,
  .needle__south {
    width: 3px;
    height: 200px;
  }
  .needle__north {
    background-color: red;
    color: red;
  }
    .needle__north:before {
      content: 'N';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 14px;
    }

  .needle__south {
    background-color: black;
    color: black;
  }
    .needle__south:before {
      content: 'S';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-size: 14px;
    }

@media (max-height: 480px) {
  .needle__north,
  .needle__south {
    width: 2px;
    height: 100px;
  }
    .needle__north:before {
      font-size: 10px;
    }
}
